@inherits LayoutComponentBase
@layout AccountLayout

<h1>Verwalten Sie Ihr Konto</h1>

<div>
  <h2>Ändern Sie Ihre Kontoeinstellungen</h2>
  <hr />
  <div class="row">
    <div class="col-md-3">
      <ManageNavMenu />
    </div>
    <div class="col-md-9">
      @Body
    </div>
  </div>
</div>
