@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Persönliche Daten</PageTitle>

<StatusMessage />
<h3>Persönliche Daten</h3>

<div class="row">
  <div class="col-md-6">
    <p>Ihr Konto enthält persönliche Daten, die Sie uns gegeben haben. Diese Seite ermöglicht es Ihnen, diese Daten herunterzuladen oder zu löschen.</p>
    <p>
      <strong>Das Löschen dieser Daten wird Ihr Konto dauerhaft entfernen, und dies kann nicht wiederhergestellt werden.</strong>
    </p>
    <form action="Account/Manage/DownloadPersonalData" method="post">
      <AntiforgeryToken />
      <button class="btn btn-primary" type="submit">Herunterladen</button>
    </form>
    <p>
      <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Löschen</a>
    </p>
  </div>
</div>

@code {
  [CascadingParameter]
  private HttpContext HttpContext { get; set; } = default!;

  protected override async Task OnInitializedAsync() {
    _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
  }
}
