.divider-strong {
  border-bottom: 2px solid #848484;
}

.apply-discount {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

  .apply-discount input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }

.subtotal, .total, .discount {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

  .subtotal p, .discount p {
    margin-bottom: 0;
  }

.total {
  font-size: 1.5rem;
  font-weight: bold;
}
