@page "/checkout"

@if (pageLoaded) {
  <div class="container mt-5">
    <h1 class="mb-4">Warenkorb</h1>

    <div class="my-5">
      <NavLink href="/products" class="continue-shopping">

        <span style="margin-bottom: .33rem;">
          <svg width="40" height="21" xmlns="http://www.w3.org/2000/svg" viewBox="-0.5 -0.5 61 21">
            <g>
              <path d="M 50 10 L 25.71 10" fill="none" stroke="rgb(0, 0, 0)" stroke-width="6"
                    stroke-miterlimit="10" pointer-events="stroke" />
              <path d="M 16.71 10 L 28.71 4 L 25.71 10 L 28.71 16 Z" fill="rgb(0, 0, 0)" stroke="rgb(0, 0, 0)"
                    stroke-width="6" stroke-miterlimit="10" pointer-events="all" />
            </g>
          </svg>
        </span>

        Weiter stöbern
      </NavLink>
    </div>

    @foreach (var item in Enumerable.Range(0, 3)) {
      <div class="cart-item">
        <div class="item-image">
          <img src="https://via.placeholder.com/80" alt="Product Image">
          <div class="item-sale">
            <i>-20 %</i>
          </div>
        </div>
        <div class="item-details">
          <h3 class="item-name">Produktname</h3>
          <h4 class="item-description text-muted">Kurze Beschreibung des Produkts</h4>
        </div>
        <div class="item-price">
          <div class="quantity-controls">
            <button>
              <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3" y="9" width="18" height="6" fill="black" />
              </svg>
            </button>
            <input type="text" value="2">
            <button>
              <svg width="15" height="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="9" y="3" width="6" height="18" fill="black" />
                <rect x="3" y="9" width="18" height="6" fill="black" />
              </svg>
            </button>
          </div>
          <div class="price">
            <p class="price-original">€19.99</p>
            <p>€15.99</p>
          </div>
        </div>
        <button class="remove-btn">
          <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width="15" height="15">
            <line y1="10" y2="90" stroke="black" x1="10" x2="90" stroke-width="10"></line>
            <line x1="90" y1="10" x2="10" y2="90" stroke="black" stroke-width="10"></line>
          </svg>
        </button>
      </div>
    }

    <div class="divider-strong" style="margin: 2rem 0;"></div>

    <div class="apply-discount">
      <input type="text" placeholder="Rabatt-Code">
      <button class="btn btn-primary">Anwenden</button>
    </div>

    <div style="margin: 1rem 0;">
      <div class="subtotal">
        <p>Zwischensumme: €39.98</p>
      </div>

      <div class="discount text-muted">
        <p>Rabatt: €5.00</p>
      </div>
    </div>

    <div class="divider-strong"></div>

    <div class="total">
      <p>Gesamt: €34.98</p>
    </div>

    <button class="btn btn-success px-5 py-2" style="display: flex; margin-left: auto;">Bezahlen</button>
  </div>
} else {
  <LoadingSkeleton />
}


@code {
  bool pageLoaded = false;

  protected override async Task OnInitializedAsync() {
    pageLoaded = true;
  }
}
