<div class="container mt-5 p-0">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="skeleton skeleton-title mb-4"></div>

          <div class="skeleton skeleton-link mb-4"></div>

          @foreach(var i in Enumerable.Range(0, 5)) {
            <div class="skeleton skeleton-text my-3"></div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

@code {

}
