.product {
  background-color: white;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

  .product img {
    width: 352px;
    height: 352px;
    border-radius: .25rem;
    object-fit: cover;
  }

  .product .price {
    color: var(--primary);
    font-weight: bold;
  }

  .product .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .product .details .comments,
    .product .details .likes {
      font-size: 14px;
      color: #666;
    }

    .product .details .likes {
      display: flex;
      align-items: center;
    }

      .product .details .likes i {
        margin-left: 5px;
        color: red;
      }
